.profile-container {
  width: 85%;
  margin: 10px auto;
  height: 100vh;
  max-height: 1200px;
}

/* header section */
.profile-container header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.profile-container header .first-segment {
  display: flex;
  align-items: center;
  font-family: "Schoolbell", cursive;
  font-size: 26px;
}

.profile-container header .second-segment {
  display: flex;
  align-items: center;
}

.profile-container header .second-segment .button {
  cursor: pointer;
  padding: 0 25px;
  background: #ee1c40;
  border-radius: 15px;
  margin-right: 5px;
}

.profile-container header .second-segment .button.logout {
  border: 1px solid #dcd6d6;
  border-radius: 15px;
  background: transparent;
  color: #e02041;
}

/* cases section */

.profile-container .cases {
  /* put css grid style here */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  font-family: "Roboto", sans-serif;
}

.profile-container .profile-cases h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.profile-container .profile-cases .cases .case {
  display: flex;
  flex-direction: column;
  background: #fff;
  margin: 1rem;
  padding: 2rem;
  border-radius: 10px;
}
.profile-container .profile-cases .cases .case .del {
  cursor: pointer;
  float: right;
}

.profile-container .profile-cases .cases .case p {
  padding: 1rem;
  font-family: "Roboto Mono", monospace;
}

.profile-container .profile-cases .cases .value {
  font-family: "Roboto Mono", monospace;
  align-self: flex-end;
}

.profile-container .profile-cases .paginationBtn {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 8rem;
}

.profile-container .profile-cases .paginationBtn .button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 150px;
  background: transparent;
  border: 1px solid #d2d2d2;
  color: #000;
}

.profile-container .profile-cases .paginationBtn .button:hover {
  background: #1761a0;
  color: #fff;
}

@media only screen and (max-width: 780px) {
  .profile-container header .first-segment h2 {
    display: none;
  }

  .profile-container header .second-segment {
    margin-left: -1rem;
  }
}
